In [1]:
print('hello')

hello

In [2]:
print('hello')

hello

In [3]:
print('hello')

hello

In [4]:
a = 3
a?

In [5]:
a = 3.0
a?

In [6]:
a = 'abc '
a?

In [7]:
pig = 100 + 200 + 300
print(pig)

600

In [8]:
#student1 = int(input('입력1:'))
#student2  = int(input('입력2:'))
#student3 = int(input('입력3:'))

s = int(input()), int(input()), int(input())
print(s, type(s))
sum = s[0] + s[1] + s[2]

print('결과:')
print('학생 3명의 키 합계:', sum)
print('학생 3명의 키 평균:', sum / 3)

100
200
300
(100, 200, 300) <class 'tuple'>
결과:
학생 3명의 키 합계: 600
학생 3명의 키 평균: 200.0

In [9]:
type('345')

str

In [10]:
a = int('345')
type(a)

int

In [11]:
b = str(345)
type(b)

str

In [12]:
c = float(3)
print(c, type(c))

3.0 <class 'float'>

In [13]:
a = input()
print(a)

100
100

In [14]:
name = input()
print(name, type(name))
print(name + ' 안녕하세요!')

100
100 <class 'str'>
100 안녕하세요!

In [15]:
s = 'abcdefg'
print(s)

abcdefg

In [16]:
s[0]

'a'

In [17]:
s[7]

IndexError: string index out of range

In [18]:
my_info = 2000, '메롱', '서울특별시', 20
print(my_info[1])

메롱

In [19]:
x, y = 1, 2
print(x)
print(y)

x, y = y, x
print(x)
print(y)



#x = 1
#y = 2

1
2
2
1