### 튜플

In [1]:
my_info = 1998, 'Taejun', '대전광역시 서구', 26
my_info?

In [2]:
year, name, address, age = my_info # unpacking
print(year, name, address, age)

1998 Taejun 대전광역시 서구 26

In [3]:
print(my_info[0], my_info[2])

1998 대전광역시 서구

In [4]:
print(my_info[4])

IndexError: tuple index out of range

In [5]:
len(my_info)

4

In [6]:
my_info[-1]

26

In [7]:
my_info[-4]

1998

In [8]:
my_info[0] = 2000

TypeError: 'tuple' object does not support item assignment

In [9]:
my_info

(1998, 'Taejun', '대전광역시 서구', 26)

In [10]:
my_info = (2000, 'Minji', '경기도 화성시', 24)

In [11]:
my_info

(2000, 'Minji', '경기도 화성시', 24)

### 리스트

In [12]:
n = [1, 2, 3, 4]
n?

In [13]:
print(n[0], n[-1])

1 4

In [14]:
n[4]

IndexError: list index out of range

In [15]:
n[1] = 7
n

[1, 7, 3, 4]

In [16]:
n.append(8)
n

[1, 7, 3, 4, 8]

In [17]:
n.remove(3)
n

[1, 7, 4, 8]

In [18]:
n.insert(2, 9)
n

[1, 7, 9, 4, 8]

In [19]:
n.pop(1)
n

[1, 9, 4, 8]

In [20]:
len(n)

4

In [21]:
n[1:3]

[9, 4]

In [22]:
n[0:3]

[1, 9, 4]

In [23]:
n[:3]

[1, 9, 4]

In [24]:
n[1:]

[9, 4, 8]

In [25]:
n[0:4:2]

[1, 4]

In [26]:
n[3:1:-1]

[8, 4]

In [27]:
my_info = 1998, 'Taejun', '대전광역시 서구', 26
my_info[1:3]

('Taejun', '대전광역시 서구')

### 얕은 복사 깊은 복사

In [28]:
number = [1, 2, 3, 4, 5]
number

[1, 2, 3, 4, 5]

In [29]:
abc = number
abc

[1, 2, 3, 4, 5]

In [30]:
abc.append(100)
abc

[1, 2, 3, 4, 5, 100]

In [31]:
number

[1, 2, 3, 4, 5, 100]

In [32]:
import copy
abc = copy.deepcopy(number)
abc.append(200)
abc

[1, 2, 3, 4, 5, 100, 200]

In [33]:
number

[1, 2, 3, 4, 5, 100]

In [34]:
a = [1, 2]
b = [3, 4]
c = a + b
c

[1, 2, 3, 4]

In [35]:
a = [1, 2]
a.extend([3, 4])
a

[1, 2, 3, 4]

In [36]:
del a[1]
a

[1, 3, 4]

In [37]:
del a
a

NameError: name 'a' is not defined

### 튜플과 리스트

In [38]:
a = [1, 2, 3]
t_a = tuple(a)
t_a

(1, 2, 3)

In [39]:
a = (1, 2, 3)
l_a = list(a)
l_a

[1, 2, 3]